*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    align-items: center;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position: 0vw 0vh;
    background-color: hsl(225, 100%, 94%);
    min-height: 100vh;
    
}
.container{
    margin: 0 auto;
    text-align: center;
}
.header{
    background-color: white;
    max-width: 450px;
    border-radius: 1.2rem;    
    overflow: hidden;
}
.main h1{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    padding-top: 1.5rem;
}
.main p{
    color: hsl(224, 23%, 55%);
    padding: 1rem 3rem;
    font-size: 16px;
}
.submain{
    display: flex;
    margin: 0rem 2rem;
    background-color: hsl(225, 100%, 98%);
    justify-content: space-between;
    padding: 1.5rem 2rem;
    border-radius: 1.2rem;
    font-weight: 500;
}
.submain h3{
    color: hsl(223, 47%, 23%);
    padding-right: 4.5rem;
}
.submain h3 span{
    color: hsl(224, 23%, 55%);
}
.submain a {
    padding-top: 1rem;
    font-weight: 700;
}
.footer {
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
}
.footer button{
    background-color: hsl(245, 75%, 52%);
    margin: 0 2rem;
    border-style: none;
    font-weight: 700;
    font-size: 16px;
    padding: 0.7rem 0;
    border-radius: 0.5rem;
    box-shadow: 0px 15px 16px 2px hsla(245, 75%, 52%,0.2);
}
.footer button a {
    color: white;
    text-decoration: none;
}
.footer a{
    padding-top: 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}
@media only screen and (max-width:425px){
    body{
        background-image: url(images/pattern-background-mobile.svg);
        background-repeat: no-repeat ;
    }
    .header{
        width: 300px;
        height: 450px;
    }
    .header img{
        width: 100%;
    }
    .container{
        font-size: 10px;
    }
    .main p{
        padding: 10px 20px;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .main h1{
        padding-top: 12px;
    }
    .submain {
        font-size: 10px;
        padding: 13px 10px ;
    }
    .submain img{
        height: 35px;
        width: 35px;
    }
    .submain h3{
        display: inline;
        padding-left: 8px;
        padding-top: 2px;
        font-weight: 900;
    
    }
    .submain h3 span{
        font-weight: 700;
    }
    .submain a{
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .footer button a{
        font-size: 12px;
    }
    .footer button{
        padding: 0.5rem 0;
        margin-top: -10px;
        box-shadow: 0px 10px 16px 2px hsla(245, 75%, 52%,0.2);
    }
    .footer a{
        font-size: 13px;
    }
}
